@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Julius+Sans+One&display=swap");

/* .hero-container {
  background-image: url("./assets/hero1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
} */

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.julius {
  font-family: "Julius Sans One", sans-serif;
}
.itim {
  font-family: "Itim", sans-serif;
}
